@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


body {
    margin: 0;
    background-color: #151515;
}
.leftC {   
    float: left;
    width: 50%;
    position: relative;
    left: 60px;
    top: 100px;
    height: 500px;
}
.image img {
    display: block;
    width: 45%;
    position: relative;
    left: 150px;
}
.text {
    display: block;
    float: left;
    text-align: left;
    position: relative;
    top: 10px;
    left: 45px;
}
.text h2  {
    font-family: 'Fredoka', sans-serif;
    color: white;
    float: left;
}
.btn {
 display: block;
 float: left;
}
.btn a {
    font-family: 'Fredoka', sans-serif;
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: 250px;
    text-align: center;
    background-color: #00a36c;
    padding: 12px 30px;
    color: white;
    text-decoration: none;
}
.container {
    float: right;
    border-radius: 5px;
    width: 35%;
    height: 550px;
    margin-top: 40px;
    position: relative;
    right: 120px;
    background-color: #121212;
    display: block;
}   
.inputC {
    position: relative;
    top: 25px;
    border-radius: 5px;
    margin-inline: auto;
    width: 70%;
    height: 500px;
    background-color: #151515;
}
input {
    color: #E1D9D1;
    position: relative;
    margin-inline: auto;
    display: block;
    background-color: #1a1a1a;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 270px;
    border-radius: 7px ;
    border: 0;
    padding: 10px;
}
label {
    color: #E1D9D1;
    margin-left: 40px;
    margin-top: 10px;
}
.username {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    position: relative;
    display: block;
    top: 30px;
}
.password {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    position: relative;
    display: block;
    top: 30px;
}
.button1 {
    font-family: 'Fredoka', sans-serif;
    position: relative;
    text-align: center;
    margin-inline: auto;
    background-color: #00a36c;
    padding-top: 9px;
    padding-bottom: 9px;
    top: 35px;
    width: 80%;
    border-radius: 7px;
}
.button1 a {
    color: #E1D9D1;
    text-decoration: none;
}
.age {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    display: block;
    position: relative;
    top: 100px;
}
.discord {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    position: relative;
    display: block;
    bottom: 50px;
}
.email {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    position: relative;
    display: block;
    top: 20px;
}
.id {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    position: relative;
    display: block;
}
.id a {
    color: #00a36c;
}
